/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}

a {
  color: #2772B0;
}

.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

div img {
  width: 100%;
  max-width: 225px; 
}

/* grid system -- mobile first! */
/* flex container */
.row {
  display: flex;
  flex-flow: row wrap;
}

/* attribute selector to give some margin between columns and apply styles to flex items */
[class*="col-"] {
  margin-left: 4%;
  flex: 0 0 92%;
  padding: 1rem;
}

/* Add background colors to see how much space each column is taking */
.col-1 {
  background-color: #A3CDD9;
}

.col-2 {
  background-color: #FFFCE6;
}

/* new column types for additional layouts */
.col-3 {
  background-color: #F6E2FF;
}

.col-4 {
  background-color: #D9F6E2;
}

.col-5 {
  background-color: #FFE4D6;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

  .col-1,
  .col-2,
  .col-3,
  .col-5 {
    flex: 0 0 44%;
  }

  /* Keep row 4 item full width on tablet */
  .col-4 {
    flex: 0 0 92%;
  }

  /* Change order of row 5 items on tablet */
  .row-5 article:nth-child(2) {
    order: 1;
  }
  .row-5 article:nth-child(1) {
    order: 2;
  }
  .row-5 article:nth-child(3) {
    order: 3;
  }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

  .col-1 {
    flex: 0 0 20%;
  }

  .col-2 {
    flex: 0 0 44%;
  }

  /* narrow + wide layout for row 3 */
  .col-3 {
    flex: 0 0 68%;
  }

  /* full-width single feature (row 4) */
  .col-4 {
    flex: 0 0 92%;
  }

  /* 5 items per row for row 6 (unique layout) */
  .col-5 {
    flex: 0 0 16%;
  }
}
